/notepad2/nbproject/private/
/notepad2/build/
/calculator/nbproject/private/
/calculator/build/
/Calc/nbproject/private/
/Calc/build/
/BMI-calc/nbproject/private/
/Calc/dist/
/Methods/nbproject/private/
/Methods/build/
/Banner/nbproject/private/
/Banner/build/
/Notepad++/nbproject/private/
/Animal/nbproject/private/
/Animal/build/
/Myabstract/nbproject/private/
/Myabstract/build/
/Mythread/nbproject/private/
/Mythread/build/
/Thread/nbproject/private/
/Thread/build/
/Myjbc/nbproject/private/
/Myjbc/build/
/Guess/nbproject/private/
/Practice/nbproject/private/
/Practice/build/